@import "tailwindcss";

@layer base {
  :root {
    --color-primary: #ed9788;
    --color-secondary: #ffc1b4;
    --text-color: #034c53;
    --text-secondary-color: #007074;
    --text-tertiary-color: #c2e7e8;
  }
}

@layer utilities {
  .text-secondary-color {
    color: var(--text-secondary-color);
  }

  .text-color {
    color: var(--text-color);
  }

  .hover\:text-color {
    @apply hover:text-[var(--text-color)];
  }

  .hover\:text-secondary-color {
    @apply hover:text-[var(--text-secondary-color)];
  }

  .hover\:bg-text-tertiary-color {
    @apply hover:bg-[var(--text-tertiary-color)];
  }
}

@layer components {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    gap: 12px;
  }

  .button {
    font-weight: 500;
    font-size: 1rem;
    background-color: var(--text-secondary-color);
    color: white;
    border-radius: 9999px;
    padding: 0.5rem 1.25rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  .button:hover {
    background-color: white;
    border-color: var(--text-color);
    color: var(--text-secondary-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}
